@media (max-width:1080px){
    .segunda .container2 h2{
        font-size: 2rem;
    }
}

@media (max-width:768px){
    .menu nav ul li a{
        padding: 10px;
        font-size: 1rem;
    }

    .segunda .container2 h1{
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }

    .segunda .container2 h2{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
}