@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Oswald&display=swap');
@import url(Responsive.css);

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh;
    background-image: url(https://s1.1zoom.me/b5050/309/Men_Black_background_Human_back_Muscle_515078_3840x2160.jpg);
    background-size: 100%;
}

.primera {
    display: flex;
    width: 100%;
    height: 50vh;
}

.primera .container0 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.primera .container0 .col-20{
    width: 30%;
    height: 30vh;
}

.primera .container0 .col-80{
    width: 70%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.primera .container0 .col-20 .logo{
    display: flex;
    justify-content: center;
}

.primera .container0 .col-20 .logo img{
    margin-top: 15px;
    display: flex;
    background-size: auto 100%;
    border-radius: 50px;
    max-width: 100%;
    height: 30vh;
}

.menu nav ul li{
    display: inline-block;
}

.menu nav ul li a{
    padding: 25px;
    color: #ec6c1f;
    font-size: 2.8rem;
    display: block;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Oswald', sans-serif;    
}

.menu nav ul li a:hover{
    color: white;
}

/* ////////////////////////////////////////////INICIO SEGUNDA////////////////////////////////////////// */

.segunda{
    width: 100%;
    height: 80vh;
    display: flex;
}

.segunda .container1{
    width: 100%;
    height: 80vh; 
    display: flex;
    flex-direction: column;
}

.segunda .container1 h1{
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.segunda .container1 h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ec6c1f;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.segunda .container1 button{
    margin: 0 auto;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.014);
    border-radius: 10px;
    border-color: azure;
    color: azure;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
}

.segunda .container1 button:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #ec6c1f;
    border-color: #ec6c1f;
    cursor: pointer;
}

/* //////////////////////////////////////MAIN/////////////////////////////////////////////////////// */

.main1{
    width: 100%;
    height: 100vh;
}
.main1 .fondo{
    width: 100%;
    height: 100vh;
    background-image: url(https://www.boomfit.eu/img/leoblog/b/1/22/lg-b-artigo%20apps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* position: absolute; */ 
}
.main1 .fondo .text{
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.main1 .fondo .text h1{
    color: #ec6c1f;
    font-size: 5rem;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

/* ////////////////////////////////////////////////////////////RESPONSIVE////////////////////////////////////////////*/

/* /////////////////////////////////////////////////PRIMERA SECTION 1080px//////////////////////////////////////////////////// */
@media (max-width:1080px){
header{
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
}
.primera {
    display: flex;
    width: 100%;
    height: 30vh;
}
.primera .container0 {
    width: 100%;
    height: 30vh;
}

.primera .container0 .col-20{
    margin-top: 10px;
}

.primera .container0 .col-20 .logo img{
    background-size: 100%;
    margin: 0;
}
.menu nav ul li a{
    padding: 10px;
    color: #ec6c1f;
    font-size: 2.4rem; 
}

/* //////////////////////////////////////////////////////SEGUNDA SECTION/////////////////////////////////////////////////// */
.segunda{
    width: 100%;
    height: 40vh;
    display: flex;
}

.segunda .container1{
    width: 100%;
    height: 20vh; 
    display: flex;
    flex-direction: column;
}

.segunda .container1 h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.segunda .container1 h2{
    margin-top: 0px;
    color: #ec6c1f;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.segunda .container1 button{
    margin: 0 auto;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.014);
    border-radius: 10px;
    border-color: azure;
    color: azure;
    font-size: 1.3rem;
    display: flex;
    text-align: center;
}

.segunda .container1 button:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #ec6c1f;
    border-color: #ec6c1f;
    cursor: pointer;
}

}

/* /////////////////////////////////////////////////PRIMERA SECTION 768px//////////////////////////////////////////////////// */
@media (max-width:768px) {
    header{
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
    }
    .primera {
        display: flex;
        width: 100%;
        height: 30vh;
    }
    .primera .container0 {
        width: 100%;
        height: 30vh;
    }
    .primera .container0 .col-20{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .menu nav ul li a{
        padding: 10px;
        color: #ec6c1f;
        font-size: 1.8rem; 
    }

    .segunda .container1 h2{
        color: #ec6c1f;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
    }
    
/* //////////////////////////////////////////////////////SEGUNDA SECTION 768px/////////////////////////////////////////////////// */
    .segunda{
        width: 100%;
        height: 40vh;
        display: flex;
    }

    .segunda .container1{
        width: 100%;
        height: 40vh; 
        display: flex;
        flex-direction: column;
    }

    .segunda .container1 h1{
        margin-top: 30PX;
        color: white;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }

    .segunda .container1 h2{
        margin-top: 0px;
        margin-bottom: 40px;
        color: #ec6c1f;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
    }

    .segunda .container1 button{
        margin: 0 auto;
        padding: 10px 25px;
        background-color: rgba(255, 255, 255, 0.014);
        border-radius: 10px;
        border-color: azure;
        color: azure;
        font-size: 1.3rem;
        display: flex;
        text-align: center;
    }

    .segunda .container1 button:hover{
        background: rgba(0, 0, 0, 0.3);
        color: #ec6c1f;
        border-color: o#ec6c1f;
        cursor: pointer;
    }
}

/* ///////////////////////////////////////////////////////////////////MAIN 768px////////////////////////////////////////////// */
@media (max-width:768px){
    .main1 .fondo{
        width: 100%;
        height: 70vh;
        background-image: url(https://www.boomfit.eu/img/leoblog/b/1/22/lg-b-artigo%20apps.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        /* position: absolute; */ 
    }
    .main1 .fondo .text{
        width: 100%;
        height: 70vh;
    }

    .main1 .fondo .text h1{
        /* margin: 0px 10px 0px 10px; */
        font-size: 1rem;    
    }
}

/* /////////////////////////////////////////////////PRIMERA SECTION 480px//////////////////////////////////////////////////// */

/* @media (max-width:480px){
    header{
        width: 100%;
        height: 60vh;
        background-repeat:no-repeat;
        background-position: center;
    }

    .primera {
        display: flex;
        width: 100%;
        height: 20vh;
    }

    .primera .container0 {
        width: 100%;
        height: 20vh;
    }

    .primera .container0 .col-20{
        width: 30%;
        height: 20vh;

    }
    .primera .container0 .col-80{
        width: 70%;
        height: 20vh;

    }

    .primera .container0 .col-20 .logo img{
        width: 100%;
        height: 130px;
        border-radius: 30px;

    }
 
    .menu nav ul li a{
        padding: 5px;
        color: #ec6c1f;
        font-size: 1.2rem;
    }

}
/* //////////////////////////////////////////////////////SEGUNDA SECTION 480px/////////////////////////////////////////////////// */
.segunda{
    width: 100%;
    height: 40vh;
    display: flex;
}

.segunda .container1{
    width: 100%;
    height: 20vh; 
    display: flex;
    flex-direction: column;
}

.segunda .container1 h1{
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.segunda .container1 h2{
    margin-top: 0px;
    margin-bottom: 60px;
    color: #ec6c1f;
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.segunda .container1 button{
    margin: 0 auto;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.014);
    border-radius: 10px;
    border-color: azure;
    color: azure;
    font-size: 1.3rem;
    display: flex;
    text-align: center;
}

.segunda .container1 button:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #ec6c1f;
    border-color: #ec6c1f;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////MAIN 480px////////////////////////////////////////////// */
.main1 .fondo{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        background-image: url(https://www.boomfit.eu/img/leoblog/b/1/22/lg-b-artigo%20apps.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        /* position: absolute; */ 
    }
.main1 .fondo .text{
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

.main1 .fondo .text h1{
        margin: 0px;
        padding: 0px;
        font-size: 2rem;    
    } */
